<!DOCTYPE html>
<html>
	<header> 
		<title> this some shit my guy </title>
	</header>
	<body>
		<h1> this some bull shit </h1>
		<input type="file" name="inputfile" id="inputfile">
		<br>
		<pre id="output"></pre>

		<button onclick="sendData()">Submit</button>
		<pre id="databeingsent"></pre>
	</body>

	<script type="text/javascript">
//////////////////////////////////////////////////////////////////
//	FILE READER
//////////////////////////////////////////////////////////////////
		var x = "";
		document.getElementById('inputfile').addEventListener('change', function(){
			var fr=new FileReader();

			fr.onload=function(){
				var data = fr.result;
				document.getElementById('output').textContent= data;
				x = data;
				console.log(x);
			}
				// fr.readAsText(this.files[0]);
				//fr.readAsBinaryString(this.files[0]);
				fr.readAsArrayBuffer(this.files[0]);
				

		});


//////////////////////////////////////////////////////////////////
//	DATA SEND
//////////////////////////////////////////////////////////////////
		function sendData(){
			var webSocket = new WebSocket('ws://192.168.2.162:80/');
			document.getElementById("databeingsent").textContent="sending: " +x;
			webSocket.onmessage = function(event){
				alert("YOU'VE BEEN PWNED NOOB!!!");
			}

			webSocket.onopen = function(event){
				webSocket.send(x);
			}
		}
	</script>
	<!--	<script src="js/rawdataread.js"></script> -->
</html>
